<div class="row" ng-controller="DDMIServersCtrl">
    <h3>
        {{servers.length}} Server{{servers.length != 1 ? 's' : ''}}
        <span ng-click="act('add')">
            <i class="icon-plus-squared"></i>
        </span>
    </h3>
    <ul class="three_up tiles">
        <li class="server {{server.state}}" ng-repeat="server in servers">
            <ul class="icons">
                <li class="status" title="This server is {{server.state}}.">
                    <i class="icon-cloud-thunder"></i>
                </li>
                <li class="right click open" title="Server Details"
                    ng-click="act('inspect', server)">
                    <i class="icon-popup"></i>
                </li>
                <li class="right flag">
                    <i class="icon-flag"></i>
                </li>
            </ul>
            <p class="name">{{server.name}}</p>
            <ul class="services two_up tiles">
                <li ng-repeat="container in server.containers">
                    {{container.Command}}
                </li>
                <li ng-if="server.containers.length === 0" style="font-style: italic;">
                    No Services
                </li>
                <li ng-click="act('add-container', server)" class="click">
                    <i class="icon-plus-squared"></i> Add Service
                </li>
            </ul>
            <ul class="icons">
                <li class="click pause" title="Suspend All Services"
                    ng-click="act('pause', server)">
                    <i class="icon-pause"></i>
                </li>
                <li class="click resume" title="Resume All Services"
                    ng-click="act('resume', server)">
                    <i class="icon-play"></i>
                </li>
                <li class="right" title="Server Uptime" >
                    <p>{{fmtUptime(server.uptime)}}</p>
                </li>
            </ul>
        </li>
    </ul>

    <div class="modal {{action.type ? 'active' : ''}}">
        <div class="content">
            <a ng-click="action.type = null" class="close">
                <i class="icon-cancel"></i>
            </a>
            <div ng-switch="action.type">

                <div ng-switch-when="pause">
                    <h2 class="row">Suspend All Services</h2>
                    <ul class="row">
                        <p>Are you sure you want to suspend all services running on {{action.server.name}}?</p>
                    </ul>
                    <ul class="row">
                        <div class="medium default btn" ng-click="action.type = null"><a>Cancel</a></div>
                        <div class="medium primary btn" ng-show="!action.processing" ng-click="suspend(action.server)"><a>Suspend Services</a></div>
                        <div class="medium primary btn" ng-show="action.processing"><a>Suspending Services...</a></div>
                    </ul>
                </div>

                <div ng-switch-when="resume">
                    <h2 class="row">Resume All Services</h2>
                    <ul class="row">
                        <p>Are you sure you want to resume all services running on {{action.server.name}}?</p>
                    </ul>
                    <ul class="row">
                        <div class="medium default btn" ng-click="action.type = null"><a>Cancel</a></div>
                        <div class="medium primary btn" ng-show="!action.processing" ng-click="resume(action.server)"><a>Resume Services</a></div>
                        <div class="medium primary btn" ng-show="action.processing"><a>Resuming Services...</a></div>
                    </ul>
                </div>

                <div ng-switch-when="inspect">
                    <h2 class="row">{{action.server.name}}</h2>
                    <p class="row">DDMI Server ID: <code>{{action.server.ddmi_id}}</code></h2>
                    <p class="row">Uptime: {{fmtUptime(action.server.uptime)}}</h2>
                    <p class="row">IP Address: {{action.server.ip}}</h2>
                </div>

                <div ng-switch-when="add-container">
                    <h2 class="row">Add Container</h2>
                    <h3 class="row">To server: {{action.server.name}}</h3>
                    <p class="row">DDMI Server ID: <code>{{action.server.ddmi_id}}</code></h2>
                    <ul class="row">
                        <li class="six columns field">
                            <input class="input" type="text" placeholder="URL to Dockerfile" ng-model="path" />
                        </li>
                        <li class="four columns field">
                            <div class="medium primary btn" ng-show="!action.processing" ng-click="addContainer(action.server, path)"><a>Add Container</a></div>
                            <div class="medium primary btn" ng-show="action.processing"><a>Adding Container...</a></div>
                        </li>
                    </ul>
                </div>

                <div ng-switch-when="add">
                    <h2 class="row">Add Server</h2>
                    <ul class="row">
                        <li class="six columns field">
                            <input class="input" type="text" placeholder="Hostname or IP Address" />
                        </li>
                        <li class="four columns field">
                            <div class="medium primary btn"><a>Continue</a></div>
                        </li>
                    </ul>
                    <h2 class="row">Discover Servers</h2>
                    <p>Enter one or more IP ranges to auto-discover servers on the local network.</p>
                    <ul class="row">
                        <li class="six columns field">
                            <input class="input" type="text" placeholder="IP Address Range"
                            value="10.0.0-1.0-255, 192.168.0-1.0-255" />
                        </li>
                        <li class="four columns field">
                            <div class="medium primary btn"><a>Scan IPs</a></div>
                        </li>
                    </ul>
                </div>

                <div ng-if="action.error" class="danger alert">
                    <i class="icon-alert"></i> {{action.error}}
                </div>

            </div>
        </div>
    </div>
</div>